label {
  color: white;
}

div {
  background-image: url("src/assets/img/bar-background.png");
}

button {
	
    background-color: #ffcd00;
    Color:#356abc;
    font-weight: bold;
    padding: 8px;
    border-radius: 18px;
    text-decoration: none;
    margin-bottom:25px;
    margin-left:320px;
}
button:hover {
	
    background-color: #356abc;
    Color:#ffcd00;
    font-weight: bold;
    padding: 8px;
    border-radius: 18px;
    text-decoration: none;   
  
}