 <!--[pokemonTaille]="pokemon.taille"-->
 <!--embed name="music_fond" src="assets/music/generique-francais-de-la-saison-1-de-pokemon.mp3" width="150" height="90" loop="true" autostart="true"-->

 <!--embed src="assets/music/generique-francais-de-la-saison-1-de-pokemon.mp3" width="0" height="0" loop="false" autostart="false"  /--> 

 <body>
 <h2>Mes Pokemons</h2>
      <p>Dernière mise a jour : {{ lastUpdate | async |date: 'short' }}</p>
      <ul class="list-group">
        <app-pokemon  *ngFor="let pokemon of pokemons; let i = index"
                       [pokemonName]="pokemon.name"
                       [pokemonType]="pokemon.type"
                       [pokemonTaille]="pokemon.taille"
                       [pokemonStatus]="pokemon.status"
                       [pokemonCommentaire]="pokemon.commentaire"
                       [index]="i"
                       [id]="pokemon.id">
        </app-pokemon>

      </ul>


             <div id="player">
    <audio autoplay hidden>
     <source src="assets/music/generique-francais-de-la-saison-1-de-pokemon.mp3" type="audio/mpeg">
                If you're reading this, audio isn't supported. 
    </audio>
</div>

      <!--
<button class="btn btn-success"
              (click)="onCatch()">Tout capturé</button>
<button class="btn btn-danger"
              (click)="onNotCatch()">Tout liberé</button>
-->

<img src="assets/img/close-pokeball.png" height="95" width="95"
     alt="Capturer" 
     class="centercl"
     (click)="onCatch()"/>

<img src="assets/img/open-pokeball.png" height="80" width="80" margin-left="10px"
     alt="Liberer" 
     class="centerop"
     (click)="onNotCatch()"
     style="float: right;"/>
</body>